.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;

    li {
        padding: 10px;
        color: var(--bs-border-me);
        font-size: 19px;
    }
}

.card {
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 8px;


}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--bs-code-color);
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.buttons button:nth-child(1) {
    border: 1px solid var(--bs-border-me);
    color: var(--bs-border-me);
    height: 40px;
}

.buttons button:nth-child(1):hover {
    border: 1px solid var(--bs-border-me);
    color: var(--bs-light);
    height: 40px;
    background-color: var(--bs-border-me);
}

.buttons button:nth-child(2) {
    border: 1px solid var(--bs-border-me);
    background-color: var(--bs-border-me);
    color: var(--bs-light);
    height: 40px;
}

.vertical-line {
    border: 1px solid var(--bs-border-me);

}